.card-img-top {
  height: 200px;
}
.card {
  padding: 20px;
}
.card-title {
  color: #94c300;
  text-transform: capitalize;
}
.card-text {
  margin-bottom: 0;
  text-transform: capitalize;
}
.rating-color {
  color: rgb(49, 49, 48);
  font-size: 12px;
}
