/* Navbar */
.navbar {
  background-color: #fff;
  box-shadow: 0px 2px 5px 0px rgb(50 50 50 / 59%);
  color: #94c300;
}
.navbar-dark .navbar-brand {
  color: #94c300;
  font-weight: bold;
}
.navbar-dark .navbar-brand:focus,
.navbar-dark .navbar-brand:hover {
  color: #94c300;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #94c300;
  font-weight: 700;
  text-transform: capitalize;
}
.nav-link {
  color: #000;
  font-weight: bold;
}
.nav-link:focus,
.nav-link:hover {
  color: #94c300;
}
.log-out {
  border-color: transparent;
  background-color: #fff;
  color: #94c300;
  margin-right: 2px;
}
.navbar-dark .navbar-text a {
  margin-left: 4px;
  text-decoration: none;
  color: #94c300;
}
.navbar-dark .navbar-text {
  color: #94c300;
}
.navbar-dark .navbar-toggler-icon {
  background-color: #94c300;
}
.private-btn a {
  display: inline;
}
