.footerMain {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* footer */
/* .svg-inline--fa {
  margin: 0 3px;
} */
.follow-us h6 {
  color: #fff;
  margin-bottom: 18px;
}
.follow-us {
  margin-bottom: 30px;
  /* border-bottom: 1px solid gray; */
  padding-bottom: 15px;
}
.follow-us a {
  text-transform: none;
  width: 40px;
  height: 40px;
  background-color: #fff;
  color: #000;
  margin-right: 6px;
  padding: 8px;
  font-size: 14px;
  border-radius: 50%;
}
.footer-content {
  text-align: left;
  color: #fff;
}
.footer-content p {
  font-size: 12px;
  margin-bottom: 0;
}
